* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: white;
  height: 100%;
  overflow: hidden;
  padding: 8px;
  font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial,
    "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #000000;
  z-index: 1000;
}
.container {
  display: flex;
  height: 64px;
  background-color: #000000;
  width: 100vw;
  padding: 8px;
  margin: 0px;
}
.left {
  padding: 16px 9px 16px 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: 37px;
  margin: 8px 0px 0px 5px;
  height: 37px;
}
/* .home {
  border: 1px solid #2a2a2a;
  border-radius: 48px 48px;
  background-color: #2a2a2a;
  padding: 12px;
  margin-left: 1rem;
}
.home p img {
  color: white;
  width: 1.7rem;
} */
.left button {
  border-radius: 50%;
  border: none;
  font-size: small;
  width: 54px;
  height: 54px;
  background-color: #1f1f1f;
  margin: 7px 0px 0px 16px;
}
.left button img {
  width: 29px;
  height: 29px;
}
.searchbar {
  padding: 1rem;
  width: 38.5%;
  height: 52px;
  display: flex;
  padding: 0.8rem 0.8rem;
  margin-top: 2px;
  /* justify-content: space-evenly; */
  align-items: center;
  background-color: #2e2c2c;
  border-radius: 25px;
  opacity: 0.7;
  gap: 10px;
  transition: background-color 0.2s ease-in;
}
.searchbar input {
  flex: 1;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: larger;
  background-color: transparent;
  border: none;
}
.left button:hover {
  opacity: 1;
}
.searchbar:hover {
  background-color: #2a2a2a;
  opacity: 1;
}
/* .searchbar input:hover {
  background-color: #2a2a2a;
  transition: background-color 0.2s ease-in;
} */
.searchbar i {
  font-size: 25px;
  cursor: pointer;
}
.searchbar span {
  font-size: 28px;
  cursor: pointer;
}
.searchbar div {
  border-right: 1px solid white;
  height: 28px;
}

/* .searchbar input {
  background-color: #1f1f1f;
  border: none;
} */

.find .find-text {
  font-weight: 500;
}
.find button {
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 1.5rem;
  margin-top: 1rem;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 5px 0px 0px 6%;
}
.right section {
  display: flex;
  gap: 10px;
}
.right .login {
  padding: 1rem 2.09rem;
  border-radius: 2rem;
  font-weight: 700 !important;
  margin-top: 2px;
  font-size: 16px !important;
  background-color: white;
}
.right span {
  opacity: 0.7;
  gap: 8px;
}
.hide {
  font-size: 16px;
  font-weight: 600;
}
.right .after-hide {
  font-weight: 700;
  font-size: 14px;
}
.right div {
  border-right: 1px solid white;
  height: 28px;
}
.right .menu {
  font-size: 40px;
  display: none;
}
.right span:hover {
  opacity: 1;
  transform: scale(1.05);
  transition: all 0s ease;
}

.right .icon p:hover {
  opacity: 1;
}
.spotify {
  display: none;
}
.right button:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: all 0s ease;
}

@media screen and (max-width: 1220px) {
  .hide {
    display: none;
  }
  .right .menu {
    display: block;
  }
  .ads-section {
    display: none !important;
  }
}
.sidebar {
  /* width: 300px; */
  /* height: 539px; */
  flex-shrink: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  border-radius: 2%;
  /* width: fit-content; */
  margin-left: 0.3rem;
  margin-top: 0.2rem;
  height: 450px;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* position: relative; */
  top: 0px;
}
.sidebar .scroll {
  max-height: 30%; /* enable vertical scrolling */
  overflow-y: auto;
  padding: 0 8px 8px; /* space so scrollbar doesn’t overlap text */
}
.scroll::-webkit-scrollbar {
  width: 0.8rem;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px;
}

.sidebar-library {
  padding: 12px 16px 8px;
  height: 55px;
  min-width: 280px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.sidebar-library h3 {
  display: inline-block;
  align-items: center;
  font-size: 1rem;
}
.sidebar-library p {
  display: inline-block;
}
.sidebar .scroll {
  flex-direction: column;
  display: flex;
}
.scroll .playlist {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding: 16px 20px;
  border-radius: 3%;
  background-color: #1f1f1f;
  margin: 8px 0;

  font-size: 16px;
  line-height: 1.5;
}
.playlist button {
  margin-top: 1rem;
  border-radius: 20px;
  padding: 0.4rem;
  border-color: white;
  font-weight: 600;
}

.find {
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 900;
  line-height: 1.5;
  background-color: #1f1f1f;
  border-radius: 8px 8px 0px 0px;
}
.info {
  width: 296px;
  margin-top: 2rem;
  padding: 1rem;
  font-size: small;
  line-height: 2.5;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  opacity: 0.6;
}
.info a {
  color: white;
  text-decoration: none;
}
.info p {
  display: inline-flex;
  opacity: 0.5;
}
.Lan-button {
  padding: 1rem;
}
.Lan-button button {
  border: 1px solid #8b8080;
  padding: 0.4rem 0.9rem;
  border-radius: 1rem;
  background-color: #000000;
  color: white;
}

.main {
  margin-left: 0.5rem;
  background: linear-gradient(180deg, #1e1e1e 0%, #121212 100%);
  flex: 1;
  border-radius: 1%;
  padding-top: 1rem;
  padding-left: 1.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 450px;

  padding-bottom: 3rem;
}
.main-container {
  height: 100vh;
  display: flex;
  margin-top: 64px;
  /* height: calc(100vh-70px); */
  /* margin-top: 2rem; */
}
.main::-webkit-scrollbar {
  width: 0.9rem;
  min-height: 5px;
}
.main::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);

  /* min-height: 25px; */
  /* min-width: 20px; */

  /* opacity: 0; */
}
/* .main::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 0px;
  margin-bottom: 280px;
} */

.main::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
.icons .social:hover {
  background-color: #7f7b7b;
  cursor: pointer;
}
.card {
  /* box-sizing: border-box; */
  /* position: relative; */
  margin-top: 0;
  width: fit-content;
  /* padding: 1rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 20px; */
  transition: background-color 0.1s ease-out;
}
.cards {
  padding: 1rem;
  height: fit-content;
  position: relative;
  width: 192px;
  /* width: 100%; */
}

.cards i {
  font-size: 20px;
}
.cards p {
  text-transform: capitalize;
}
.cards button {
  position: absolute;
  padding: 1.1rem 1rem;
  border-radius: 50%;
  top: 132px;
  left: 115px;
  background-color: #3ae176;
  border: none;
  opacity: 0;
}
.cards:hover button {
  opacity: 1;
  transform: translatey(-20px);
  transition: opacity 0s ease, transform 0.2s ease;
}
.cards:hover {
  /* width: calc(50%-20px); */

  /* transform: scale(1.02); */
  background-color: #282525;
  border-radius: 20px;
  height: fit-content;
}
.card img {
  width: 10rem; /* Ensures a square */
  height: 10em;
  border-radius: 4%;
  object-fit: contain;
}

.card .song-name {
  margin-top: 0.5rem;
}
.card .song-name:hover {
  text-decoration: underline;
}
.card .actor-name {
  margin-top: 0.5rem;
  opacity: 0.5;
}
.card .actor-name:hover {
  text-decoration: underline;
}
.last-card {
  margin-bottom: 9vw;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem 0.5rem 0rem;
}
.heading .show{
  text-transform: capitalize;
  opacity: 0.6;
}
.heading h1:hover {
  text-decoration: underline;
}
.heading .show:hover {
  text-decoration: underline;
}
hr {
  opacity: 0.1;
}
.footer {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.footer .items {
  line-height: 1.8;
}
.footer .items li {
  text-decoration: none;
  list-style: none;
}

.footer .social-icons a i {
  gap: 10px;
}
.footer .items a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
.end {
  margin-top: 3.5rem;
  opacity: 0.7;
  align-items: center;
}
.artist {
  margin-top: 1rem;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  margin-right: 2rem;
}
.icons .social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(53, 55, 56);
  border-radius: 50%;
  /* margin-right: 1rem; */
}
.card .round img {
  border-radius: 50%;
}

.ads-section {
  position: sticky;
  height: 73px;
  bottom: 13px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: linear-gradient(90deg, #af2896, #509bf5);
}
.ads p{
  margin-top: 2px;
}
.ads-btn {
  padding: 16px 29px;
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 17px;
}
@media screen and (max-width: 900px) {
  .searchbar {
    width: 90%;
  }
  .right h1 {
    display: none;
  }
  .after-hide {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .searchbar {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .main {
    padding: 0;
  }
  .right {
    padding: 1px;
  }
  .right button {
    width: fit-content;
    font-size: large;
    align-items: center;
  }
  .right p {
    display: none;
  }
  .right h1 {
    display: none;
  }
  .left .home {
    display: none;
  }
  .spotify {
    visibility: visible;
    display: flex;
  }
  .login {
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }

  .cards {
    padding: 0.8rem;
    width: 50%;
  }
  .footer {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .end {
    margin-top: 0.8rem;
    margin-bottom: 5rem;
  }
}

/* Desktop and above (≥ 1200px) */
/* @media (min-width: 1100px) {
  body {
    background: orange;
  }
} */
/* @media (max-width: 1200px) {
  body {
    background: rgb(129, 62, 8);
  }
} */
